<ion-header>
  <!-- <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content>
<!-- <ion-content padding> -->

    <div *ngIf="deleteMode" id="deletePanel">
      <div id="deleteConfirm">
        <div id="confirmTitle">
          Delete <span id="deletePanelCurrentCountName">{{currentCount.name}}</span> ?
        </div>
        <span (tap)="deleteMode = false" class="btnOff">No</span>
        <span (tap)="deleteCount()" class="btnOn">Yes</span>
      </div>
    </div>
    
    <div *ngIf="!creationMode" id="mainPanel">
        <div class="top-left">
          <div (tap)="startCreationMode()" id="create" class="topBtn">+</div>
        </div>
        <div (swipeRight)="onSwipeRight(true)" (swipeLeft)="onSwipeLeft(true)" id="countsPanel">
          <div *ngIf="currentCount" (tap)="onTap($event, true)" id="currentCountName">{{currentCount.name}}</div>
        </div>
        <div (tap)="onTap($event)" class="mainBtn"></div>
        <div (swipeRight)="onSwipeRight(false)" (swipeLeft)="onSwipeLeft(false)" id="recordsPanel">
          <div *ngIf="currentRecord" id="date">
            <div>{{currentDate[2]}}</div>
            <div>{{currentDate[1].toUpperCase()}}</div>
            <div>{{currentDate[3]}}</div>
            <div>{{currentDate[0].toUpperCase()}}</div>
          </div>
          <div class="t1" *ngIf="currentRecord && currentRecord.amount != null">{{currentRecord.amount}}</div>          
          <div class="t1" *ngIf="currentRecord && currentRecord.amount == null">_</div>          
        </div>
    </div>

    <div *ngIf="creationMode" id="creationPanel">
      <div class="top-left">
        <div (tap)="quitCreationMode(false)" id="back" class="topBtn"><</div>
      </div>
      <form (ngSubmit)="quitCreationMode(true)">
        <input [(ngModel)]="currentCount.name" required name="newCount.name" type="text" placeholder="Count name">
        <button class="okBtn" type="submit">OK</button>
      </form>
    </div>

    <div *ngIf="editMode" id="content" style="height:100%; padding-top: 200px; text-align:center; border: solid 1px #000;">
      <form (ngSubmit)="store()">
        <div style="border: solid 1px #000;">
          <input [(ngModel)]="currentCount.name" name="newCount.name" type="text" placeholder="Count name">
        </div>
        <button type="submit">OK</button>
      </form>
      <div (tap)="editMode = false;" id="back" style="border: solid 1px #000000;width: 30%;padding: 20px; margin: 10px auto;">-</div>
    </div>

	
  <!-- The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p> -->
</ion-content>
